# Dependency folders
node_modules
**/node_modules

# Logs and temporary files
npm-debug.log
dist/**
build
.DS_Store

# Git and editor files
.git
.gitignore
.github
.vscode

# Docker configuration
.dockerignore

# Local database / data folders
app-mongo-data
app-mongo-data/

# Optional: Ignore local environment files
.env
*.env
