apiVersion: apps/v1
kind: Deployment
metadata:
  name: yolo-backend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: yolo-backend
  template:
    metadata:
      labels:
        app: yolo-backend
    spec:
      initContainers:
        - name: wait-for-mongo
          image: busybox
          command:
            - sh
            - -c
            - |
              until nc -z mongo 27017; do
                echo "Waiting for MongoDB..."
                sleep 2
              done
      containers:
        - name: yolo-backend
          image: waitheramacharia/yolo-backend:v2  # Docker Hub image
          imagePullPolicy: Always
          ports:
            - containerPort: 5000
          env:
            - name: MONGO_URL
              value: "mongodb://mongo:27017/your-db"
